In [15]:
from datetime import datetime
import pandas as pd

df = pd.read_csv('/Users/Siddharth.Kothari/Desktop/Airflow-DAG-Examples/temp/lab/orchestrated/airflow-extract-data.csv')
df

,Domain,Type,Sponsoring Organisation
0,.abbott,generic,"Abbott Laboratories, Inc."
1,.abogado,generic,Top Level Domain Holdings Limited
2,.ac,country-code,Network Information Center (AC Domain Registry...
3,.academy,generic,"Half Oaks, LLC"
4,.accountant,generic,dot Accountant Limited
...,...,...,...
914,.zip,generic,Charleston Road Registry Inc.
915,.zm,country-code,Zambia Information and Communications Technolo...
916,.zone,generic,"Outer Falls, LLC"
917,.zuerich,generic,Kanton Zürich (Canton of Zurich)
918,.zw,country-code,Postal and Telecommunications Regulatory Autho...

In [16]:
df["Type"].unique()

<StringArray>
[           'generic',       'country-code',          'sponsored',
     'infrastructure', 'generic-restricted',               'test']
Length: 6, dtype: str

In [17]:
generic_type_df = df[df["Type"] == "generic"]
today = datetime.today()
generic_type_df["Date"] = today.strftime("%Y-%m-%d")
generic_type_df

           Domain     Type            Sponsoring Organisation        Date
0         .abbott  generic          Abbott Laboratories, Inc.  2026-02-10
1        .abogado  generic  Top Level Domain Holdings Limited  2026-02-10
3        .academy  generic                     Half Oaks, LLC  2026-02-10
4     .accountant  generic             dot Accountant Limited  2026-02-10
5    .accountants  generic                     Knob Town, LLC  2026-02-10
..            ...      ...                                ...         ...
910     .yokohama  generic                 GMO Registry, Inc.  2026-02-10
911      .youtube  generic      Charleston Road Registry Inc.  2026-02-10
914          .zip  generic      Charleston Road Registry Inc.  2026-02-10
916         .zone  generic                   Outer Falls, LLC  2026-02-10
917      .zuerich  generic   Kanton Zürich (Canton of Zurich)  2026-02-10

[590 rows x 4 columns]

In [19]:
generic_type_df.to_csv('/Users/Siddharth.Kothari/Desktop/Airflow-DAG-Examples/temp/lab/manual/manually-transform-data.csv', index=False)